.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.socialContainer {
  display:flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
}

.socialCard {
  width:100%;
  max-width:400px;
  padding:0;
  margin:20px;
  min-height:200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.author {
  align-self:flex-end;
  padding:10px;
  background:#333;
  color:#FFA006;
  font-size:0.6em;
  margin:5px;
}

.logo {
  width:50px;
  margin:10px;
  align-self:flex-start;
  border-radius:50%;
}

.greetingContainer {
  padding:20px;
  font-size:2em;
}

@media (max-width:480px) {

.socialCard {
  margin: 0 0 20px;
}

}